body {
    margin: auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: rgb(255, 238, 193);
  }

.gray-text {
    color:rgb(90, 90, 90);
}

.profile-post {
    display: block;
    min-width: 20em;
    width: fit-content;
    height: 100%;
    margin-block: 5px;
    margin-left: 15px;
    padding-right: 10px;
    padding: 3px;
    text-decoration: none;
    color: #000;
    background-color: rgb(252, 230, 171);
    border: 1px solid rgb(182, 135, 75);
}

.profile-post:hover {
    background-color: rgb(255, 225, 144);
}

.profile-box {
    display: flex;
    width: 40em;
    max-width: 40em;
    height: fit-content;
    margin-left: 0px;
}

.profile-text {
    margin-top: 10px;
    padding-top: 10px;
}

.profile-picture {
    max-width: 200px;
    max-height: 200px;
    float: left;
}

.profile-info {
    padding-left: 10px;
    float: left;
}

.profile-nametext {
    font-size: 50px;
}

.profile-aboutme {
    background-color: rgb(255, 244, 216);
    overflow-wrap: break-word;
    height: fit-content;
    min-height: inherit;
    max-width: 30em;
    margin: 5px;
    padding: 5px;
}

.found-box {
    display: block;
    width: 40em;
    height: 100%;
    margin-block: 5px;
    margin-left: 15px;
    padding: 3px;
    text-decoration: none;
    color: #000;
    background-color: rgb(252, 230, 171);
    border: 1px solid rgb(182, 135, 75);
}

.found-box:hover {
    background-color: rgb(255, 225, 144);
}

.comment-box {
    max-width: 40em;
    width: fit-content;
    min-width: 300px;
    min-height: 45px;
    height: fit-content;
    border: 1px solid rgb(182, 135, 75);
    background-color: rgb(255, 244, 216);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1px;
    padding-right: 5px;
    margin-block: 10px;
    overflow-wrap: break-word;
    margin-left: 10px;
}

.comment-picture {
    width: 45px;
    height: 45px;
    position: absolute;
    border-radius: 5px;
}

.comment-name {
    margin: 0;
}

.comment-info {
    padding-left: 55px;
}

.comment-content {
    margin: 5px 0 0;
    padding-bottom: 3px;
}

.post-title {
    margin-bottom: 2px;
}

.post-usertext {
    color:rgb(90, 90, 90);
    margin-bottom: 10px;
}

.post-grade {
    color: black;
    font-size: large;
    font-weight: 250;
}

.post-textbox {
    max-width: 40em;
    padding: 10px;
    overflow-wrap: break-word;
    height: fit-content;
    border: 1px solid rgb(182, 135, 75);
    background-color: rgb(255, 244, 216);
    margin-left: 10px;
}

.layout-button {
    border: 1px solid rgb(182, 135, 75);
    padding: 4px;
    text-decoration: none;
    color: black;
    background-color: rgb(252, 230, 171);
}

.layout-button:hover {
    background-color: rgb(255, 225, 144);
}

.frontpage-post {
    display: block;
    width: 40em;
    height: 100%;
    margin-block: 1em;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
}

.frontpage-post-content {
    padding: 10px;
    background-color: rgb(252, 230, 171);
    border: 1px solid rgb(182, 135, 75);

}

.frontpage-post-content:hover {
    background-color: rgb(255, 225, 144);
}

.frontpage-fontsize {
    font-size: larger;
}

.frontpage-usertext {
    color:rgb(90, 90, 90);
}

.plain-link {
    color: black;
    text-decoration: none;
}

.post-image {
    display: block;
    max-width: 45em;
    max-height: 20em;
    width: auto;
    height: auto;
    margin-left: 10px;
}