<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}Etsi julkaisu{% endblock %}

{% block content %}
<h2>Etsi julkaisu</h2>

<form action="/find_post" method="get">
  <p>
      Hakusana: <input type="text" name="query" value="{{ query }}">
  </p>
  <input type="submit" value="Etsi">
</form>

{% if query %}
<h3>Tulokset</h3>
{% if total > 0 %}
{% if total == 1 %}
<span class="frontpage-usertext">Yhteensä {{ total }} tulos</span>
{% else %}
<span class="frontpage-usertext">Yhteensä {{ total }} tulosta</span>
{% endif %}
{% endif %}
{% for post in results %}
<a href="/post/{{ post.id }}" class="found-box">{{ post.title }} ({{ post.model_year }})
<span class="frontpage-usertext">Käyttäjältä: {{ post.username }}</span></a>
{% endfor %}
{% endif %}
{% endblock %}