<!DOCTYPE html>
<html>

<head>
  <title>Tulostinlauta</title>
</head>

<body>
  <h1>Tulostinlauta</h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä <b><a href="/user/{{ session.user_id }}">{{ session.username }}</a></b>
  </p>
  {% endif %}

  <p>
    <a href="/find_post">Etsi julkaisu</a> -
    {% if session.user_id %}
    <a href="/new_post">Uusi julkaisu</a> -
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a> -
    <a href="/register">Luo tunnus</a>
    {% endif %}
  </p>


  <h2>Julkaisut</h2>
  <ul>
    {% for post in posts %}
    <li><a href="/post/{{ post.id }}"> {{ post.title }}</a></li>
    {% endfor %}
    </ul>
</body>

</html>
