<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1><a href="/">Tulostinlauta</a></h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä <b><a href="/user/{{ session.user_id }}">{{ session.username }}</a></b>
  </p>
  {% endif %}

  <p>
    <a href="/find_post">Etsi julkaisu</a> -
    {% if session.user_id %}
    <a href="/new_post">Uusi julkaisu</a> -
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a> -
    <a href="/register">Luo tunnus</a>
    {% endif %}
  </p>

  {% block content %}{% endblock %}

</body>

</html>
