<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1><a href="/" class="plain-link">Tulostinlauta</a></h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä <b><a href="/user/{{ session.user_id }}">{{ session.username }}</a></b>
  </p>
  {% endif %}
  <p>
    <a href="/find_post" class="layout-button">Etsi julkaisu</a>
    {% if session.user_id %}
    <a href="/new_post" class="layout-button">Uusi julkaisu</a>
    <a href="/logout" class="layout-button">Kirjaudu ulos</a>
    {% else %}
    <a href="/login" class="layout-button">Kirjaudu sisään</a>
    <a href="/register" class="layout-button">Luo tunnus</a>
    {% endif %}
  </p>
  {% block content %}{% endblock %}
</body>
</html>
