<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}
<h2>Kirjautuminen</h2>
{% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}
<form action="/login" method="post">
  <p>
    <label for="username">Tunnus</label>:<br/>
    <input id="username" type="text" name="username" value="{{ filled.username }}"/>
  </p>
  <p>
    <label for="password">Salasana</label>:<br/>
    <input id="password" type="password" name="password" />
  </p>
  <input type="submit" value="Kirjaudu" />
</form>
{% endblock %}