<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}Uusi julkaisu{% endblock %}

{% block content %}
<h2>Uusi julkaisu</h2>
{% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}
<form action="/create_post" method="post" enctype="multipart/form-data">
  <p>
    <label for="title">Malli</label>:<br/>
    <input id="title" type="text" name="title" value="{{ filled.title }}" maxlength="50"/>
  </p>
  <p>
    <label for="image">Kuva</label>:
    <input id="image" type="file" name="image" accept=".jpg"/>
  </p>
  <p>
    <label for="model_year">Vuosimalli</label>:
    <input id="model_year" type="number" name="model_year" size="4" min="0" maxlength="4" value="{{ filled.model_year }}"/>
  </p>
  <p>
    <label for="grade">Arvosana</label>:
    <input id="grade" type="number" name="grade" size="1" min="0" max="5" value="{{ filled.grade }}"/> /5
  </p>
  <p>
    <label for="review">Arvostelu</label>:<br/>
    <textarea id="review" name="review" rows="8" cols="60">{{ filled.review }}</textarea>
  </p>
  {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>:<br/>
    <select id="class{{ class }}" name="classes">
      <option value=""></option>
      {% for option in classes[class] %}
      {% if filled[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo julkaisu" />
</form>
{% endblock %}