<!DOCTYPE html>
<html>

<head>
  <title>Uusi julkaisu</title>
</head>

<body>

    <h1>Uusi julkaisu</h1>

  <form action="/create_post" method="post">
    <p>
      Malli: <br />
      <input type="text" name="title" />
    </p>
    <p>
        Vuosimalli: <br />
        <input type="number" name="model_year" size="4" maxlength="4" />
    </p>
    <p>
        Arvosana: <br />
        <input type="number" name="grade" size="1" min="0" max="5" /> /5
    </p>
    <p>
        Arvostelu: <br />
        <textarea name="review" rows="8" cols="60" ></textarea>
    </p>
    {% for class in classes %}
    <p>
      {{ class }}: <br />
      <select name="classes">
        <option value=""></option>
        {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </p>
    {% endfor %}

    <input type="submit" value="Luo julkaisu" />
  </form>
  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>

</html>
