<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}Rekisteröinti{% endblock %}

{% block content %}
<h2>Rekisteröinti</h2>
{% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}
<form action="/create" method="post">
  <p>
    <label for="username">Tunnus</label>:<br/>
    <input id="username" type="text" name="username" value="{{ filled.username }}" maxlength="16"/>
  </p>
  <p>
    <label for="password1">Salasana</label>:<br/>
    <input id="password1" type="password" name="password1"/>
  </p>
  <p>
    <label for="password2">Salasana uudestaan</label>:<br/>
    <input id="password2" type="password" name="password2"/>
  </p>
  <input type="submit" value="Luo tunnus"/>
</form>
{% endblock %}