<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}Julkaisu: {{ post.title }}{% endblock %}

{% block content %}
<h2 class="post-title">{{ post.title }} ({{ post.model_year }})</h2>
<div class="post-usertext">
  Julkaisija: <a href="/user/{{ post.user_id }}">{{ post.username }}</a>
</div>
{% if classes %}
<p>
  {% for class in classes %}
  <a href="/find_class/{{ class.value }}" class="layout-button">{{ class.title }}: {{ class.value }}</a>
  {% endfor %}
</p>
{% endif %}
{% if image %}
<img src="/post_image/{{ post.id }}" class="post-image" alt="Julkaisun kuva"/>
{% endif %}

<p>
  <span class="post-grade">Arvosana: {{ post.grade }}/5</span>
</p>
<p class="post-textbox">
  {{ post.review | show_lines }}
</p>

{% if session.user_id == post.user_id %}
<p>
  <a href="/edit_post/{{ post.id }}" class="layout-button">Muokkaa</a>
  <a href="/delete_post/{{ post.id }}" class="layout-button">Poista</a>
</p>
{% endif %}
<h3>Kommentit</h3>
{% for comment in comments %}
<div class="comment-box">
  <img src="/image/{{ comment.user_id }}" alt="profiilikuva" class="comment-picture"/>
  <div class="comment-info">
    <a href="/user/{{ comment.user_id }}" class="comment-name">{{ comment.username }}</a>
    <p class="comment-content">{{ comment.comment | show_lines }}</p>
  </div>
</div>
{% endfor %}
<h3>Lisää kommentti</h3>
<form action="/create_comment" method="post">
  <p>
    <textarea name="comment" rows="8" cols="60"></textarea>
  </p>
  <input type="hidden" name="post_id" value="{{ post.id }}">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
  <input type="submit" value="Kommentoi"/>
</form>
{% endblock %}