<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<h2>Käyttäjä: {{ user.username }}</h2>
{% if user.has_image %}
<img src="/image/{{ user.id }}" alt="Käyttäjän {{ user.username }} profiilikuva"/>
{% endif %}
{% if session.user_id == user.id %}
<p>
  <a href="/add_image">Vaihda profiilikuvaa</a>
</p>
{% endif %}
<p>
  Julkaisujen määrä: {{ posts | count }}
</p>
<h3>Julkaisut</h3>
<ul>
  {% for post in posts %}
  <li><a href="/post/{{ post.id }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}